.home-header-cls {
    background-color: #ad0798;
    width: 100%;
    float: left;
    height: 76px;
    padding-top: 5px;
}
.menucls {
    width: 14%;
    float: left;
  }
  .contentcls {
    width: 86%;
    float: right;
  }
  .primary-menu {
    background-color: #ad0798;
    color: #fff;
    font-size: 18px;
    height: 100vh;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    padding-inline-start: 0px !important;
    border: 2px solid #ad0798;
  }
  .primary-menu li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
    padding: 15px;
  }
  .primary-menu li:hover {
    background-color: #5c5c5e;
  }
  .primary-menu a {
    text-decoration: none;
    color: #fff;
  }
  .menu-icon-cls {
    float: left;
    margin-right: 6px;
  }
  .menu-icon-cls img {
    height: 25px;
  }
  .search-tms {
    width: 300px;
    padding: 6px;
    border-radius: 20px;
    float: right;
  }
  .button-tms-primary {
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #ad0798;
    color: #fff;
    border: 0px solid #fff;
    font-weight: 700;
  }
  .button-tms-secondary {
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    background-color: red;
    color: #fff;
    border: 0px solid #fff;
    font-weight: 700;
  }
  
  .logoCls {
    background-color: #fff;
    list-style-type: none;
    padding-inline-start: 0px !important;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
    border: 2px solid #ad0798;
  }
  .tn-main-cls {
    width: 82%;
    float: left;
    margin: 10px 20px 20px 20px;
  }
  .cmp-main-cls {
    width: 90%;
    float: left;
    margin: 4px;
  }
  .logoCls li {
    padding: 3px;
    margin-left: 47px;
  }
  .input-label-cls {
    margin-right: 10px;
    float: left;
    margin-top: 3px;
    font-weight: 600;
  }
  .input-cmp-cls {
    float: left;
  }
  .file-cmp-cls {
    float: left;
  }
  .file-cmp-cls button {
    padding: 6px;
  }
  .input-tms {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #1b1b1b;
  }
  .input-text-area {
    padding: 6px;
    border-radius: 3px;
    height: 80px;
    border: 1px solid #1b1b1b;
  }
  .input-date-cls {
    padding: 6px;
    border-radius: 3px;
    border: 1px solid #1b1b1b;
    width: 100%;
  }
  .input-drop-down-cls {
    border-radius: 3px;
    border: 1px solid #1b1b1b;
    width: 100%;
  }
  .input-drop-down-cls div div {
    padding: 3px !important;
  }
  .popup_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 120%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  .login-popup_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 42%;
    width: 50%;
    height: auto;
    padding: 16px;
    border: 2px solid #ad0798;
    background-color: white;
    z-index: 1002;
    overflow: auto;
  }
  .full-name-cls {
    width: 31%;
    float: left;
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    padding-left: 4px;
  }
  .tm-div-cls {
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
    width: 100%;
  }
  .tm-div-cls div {
    width: 100%;
    padding: 5px;
  }
  .tn-label-cls {
    font-weight: 600;
    margin-right: 2px;
  }
  .tn-label-cls a {
    text-decoration: none;
  }
  .value-span-cls {
    font-size: 13px;
  }
  .span-speraton-cls {
    border-right: 1px solid rgb(126, 125, 125);
    margin-left: 10px;
    margin-right: 10px;
  }
  .title-header-cls {
    margin-bottom: 15px;
    font-size: 25px;
  }
  .tn-logo-cls {
    margin-right: 15px;
    text-decoration: none;
  }
  .tn-logo-cls img {
    height: 40px;
  }
  .form-title-cls {
    width: 100%;
    float: left;
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: 1px solid #ccc;
  }
  .popup-header {
    border-bottom: 1.5px solid #ccc;
    float: left;
    width: 99%;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 21px;
    background-color: #ad0798;
    padding-left: 5px;
    color: #fff;
  }
  .popup-content {
    float: left;
    width: 99%;
    padding-bottom: 20px;
    padding-top: 5px;
    font-size: 17px;
    padding-left: 5px;
  }
  .warn-popup_content {
    display: none;
    position: absolute;
    top: 35%;
    left: 42%;
    width: 50%;
    height: auto;
    border: 2px solid #ad0798;
    background-color: white;
    z-index: 1002;
    padding-bottom: 5px;
  }
  .label-mandate {
    color: red;
    margin-left: 2px;
  }
  .form-error-cls {
    color: red;
    word-wrap: break-word;
  }
  .load-mask-content-cls {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }